<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <ion-img src="/assets/i1.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title color="danger">TBOI</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="back" color="danger"  >

      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="danger">
    <ion-card-header>
      <ion-img src="/assets/isaac.jpg"></ion-img>
      <ion-card-subtitle>The binding of isaac</ion-card-subtitle>
      <ion-card-title>Guia de mama</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La mamá de Isaac es la antagonista principal de The Binding of Isaac. Simplemente referida como Mom en todo el juego sin nunca decir su verdadero nombre, ella es una mujer que creyó que la voz de Dios le ordenó asesinar a su hijo como sacrificio.

Ella aparece como jefe en Depths II, y es la primera jefe final del juego. En Wrath of the Lamb, también aparece en Necropolis al remplazar Depths. Y también en Dank Depths de Afterbirth.
    </ion-card-content>

    
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-img src="/assets/mom.jpg"></ion-img>
      <ion-card-subtitle>The binding of isaac</ion-card-subtitle>
      <ion-card-title>Comportamiento</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El Pie de Mamá: Ataque principal de Mamá, que se utiliza cuando Isaac no está cerca de ninguna de las cuatro puertas. Hace daño en un radio de aproximadamente equivalente a la sombra que proyecta antes de contactar. Este ataque puede dañar otros enemigos en la habitación.
      La mano de Mamá: Un ataque alternativo usado cuando Isaac está demasiado cerca de una puerta. Mamá deja de pisotear por un corto período, si se utiliza este ataque. Sin embargo, este ataque sucede muy rápidamente y es mucho más difícil de esquivar que el pie.
      El ojo de Mamá: Aparece periódicamente en una de las cuatro puertas. El ojo no ataca o invoca enemigos, ofreciendo un corto período de tiempo para que le puedas disparar. (Nota: La versión campeón roja de la mamá, disparará gotas de sangre triples del ojo.)
      La carne de Mamá: Un pedazo de carne aparecerá en una de las 4 puertas, e invocara a un enemigo al lado. Mamá puede tener hasta 4 enemigos adicionales para ayudar a matar a Isaac.
    </ion-card-content>

    
  </ion-card>
  <ion-card color="Warning">
    <ion-card-header>
     <ion-img src="/assets/logo.png"></ion-img>
   </ion-card-header>
</ion-card>
</ion-content>
