<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" color="danger">Detalles De la Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="mM()" color="danger">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/inicio" text="back" color="danger">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="danger">
    <ion-card-header>
      
        <img src="assets/cara.jpg">
     
     
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="ion-text-center"> Cuenta de Invitado </ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
     cuenta nivel 0
    <br>
    <br>
     sin aportes
     <br>
     <br>
     sin comentarios
     <br>
     <br>
     sin guias favoritas
    </ion-card-content>
  </ion-card>
</ion-content>
