<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <ion-img src="/assets/w1.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title color="danger">Warframe</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="back" color="danger"  >

      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content>

  <ion-card color="danger">
    <ion-card-header>
      <ion-img src="/assets/w2.png"></ion-img>
      <ion-card-subtitle>Logo del juego</ion-card-subtitle>
      <ion-card-title>Guia de liches de warframe</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El "Lich de Kuva" es un jefe único, que toma la forma de un Grineer al que se le inyecta Kuva, este dará caza a los jugadores e invadirá el Sistema de Origen, usando su influencia para robar el botín de los jugadores e incrementar el nivel de los enemigos en sus territorios controlados. Cada Lich tiene un nombre único y se le asignará aleatoriamente un elemento y equipamiento. Son duros de matar, siendo el Tenno que lo haya creado, el único que puede acabar con ellos. Para ello, el jugador deberá poner mods concretos y en un orden específico en su Parazon.
    </ion-card-content>

    
  </ion-card>

  <ion-card color="danger">
    <ion-card-header>
      <ion-img src="/assets/w3.png"></ion-img>
      <ion-card-subtitle>Liches de kuva</ion-card-subtitle>
      <ion-card-title>Guia de liches de warframe</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Tras completar la aventura "la guerra interna", el jugador podrá encontrar al larvazuelo Kuva en misiones Grineer de +20 niveles (Esto no incluye las Incursiones, Fisuras, Aventuras y Sectores oscuros). Su aparición será anunciada al jugador a través de la iluminación, parpadeando en amarillo, junto a un Guardián Kuva anunciando su presencia, su localización se marcará como objetivo de asesinato. Esto no tiene por qué ocurrir al comienzo de la misión.

      Al matar al larvazuelo Kuva usando el "parazon", hará que surja un Lich en el Sistema, convirtiéndose así en el "progenitor" de ese Lich y el Warframe usado para matarlo, el "Warframe progenitor"​. En un escuadrón, será el último jugador en dañarlo el que pueda usar el Parazon. Si nadie lo hace, simplemente desaparecerá transcurridos 15 segundos, Esto no interrumpe la misión en progreso. Si se abandona la misión después de haber ejecutado al larvazuelo Kuva con el parazon al volver al Orbitador, se recibirá una transmisión del recién creado Lich.
      
      El Lich de Kuva se establece en una zona de influencia en un conjunto de nodos en el sistema y comandara a sus seguidores, que aparecerán durante las misiones. Este ganara influencia cada vez que suba de nivel, y el nodo perderá la influencia del mismo cuando el jugador acabe la misión. Completar todos los nodos de influencia del mapa estelar hará que el Lich suba de rango. La influencia sirve para disminuir las recompensas obtenidas por el jugador al completar misiones en los nodos afectados, ya que una parte de los recursos obtenidos los reclamara en Lich como un impuesto (esto incluye créditos, recursos, planos, reliquias del vacio, esculturas Ayatan, y mods, pero no reliquias Réquiem y mods Réquiem). A medida que aumentan los nodos bajo la influencia del Lich, aumenta el impuesto. todo recurso tomado por el en forma de impuesto sera recuperado después de eliminarlo.
    </ion-card-content>

    
  </ion-card>
  <ion-card color="Warning">
    <ion-card-header>
     <ion-img src="/assets/logo.png"></ion-img>
   </ion-card-header>
</ion-card>


</ion-content>
