<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <ion-img src="/assets/g1.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title color="danger">Genshin </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="back" color="danger"  >

      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="danger">
    <ion-card-header>
      <ion-img src="/assets/nini.jpg"></ion-img>
      <ion-card-subtitle>Ninguang</ion-card-subtitle>
      <ion-card-title>Ninguang dps geo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Armas: Lost Prayer, SkywardAtlas, solar pearl
      <br>
      <br>
      Artefactos: 2 petra/2 nobless  o  2 petra/ 2 Gladiador
      <br>
      <br>
      Stats: Atk%/Geo dmg bonus/ Crit dmg & rate
    </ion-card-content>

    
  </ion-card>
  <ion-card color="danger">
    <ion-card-header>
     <ion-img src="/assets/nin.jpg"></ion-img>
   </ion-card-header>
</ion-card>
<ion-card color="Warning">
  <ion-card-header>
   <ion-img src="/assets/logo.png"></ion-img>
 </ion-card-header>
</ion-card>
</ion-content>