<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <ion-img src="/assets/g1.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title color="danger">Genshin </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/" text="back" color="danger"  >

      </ion-back-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="danger">
    <ion-card-header>
      <ion-img src="/assets/bennet.jpg"></ion-img>
      <ion-card-subtitle>Bennet</ion-card-subtitle>
      <ion-card-title>Bennet Healer Suport</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Armas:aquila favonia, black sword, festering desire
      <br>
      <br>
      Artefactos: 4 nobless set  o  4 gladiator set
      <br>
      <br>
      Stats: energy recharge %/hp %/ healing bonus
    </ion-card-content>

    
  </ion-card>
  <ion-card color="danger">
    <ion-card-header>
     <ion-img src="/assets/nin3.jpg"></ion-img>
   </ion-card-header>
   
</ion-card>

<ion-card color="Warning">
  <ion-card-header>
   <ion-img src="/assets/logo.png"></ion-img>
 </ion-card-header>
</ion-card>
</ion-content>