
<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="mM()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      GUIAS ABMODEL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GUIAS ABMODEL</ion-title>

    </ion-toolbar>
  </ion-header>
<br>

<ion-card>
  <a> - Bienvenidos a Guias ABMODEL </a>
  <br>
  <br>
  <a>Visite nuestro catalogo con diversidad de guias y comente sus resultados y consejos aca abajo </a>
</ion-card>

<br>
  <ion-button RouterLink="/lista" href="/lista"  expand="block" color="danger" >  
    Lista de Guias
 </ion-button>

 <br>
 


</ion-content>

